<div>
  <span class="appTitle">Resumen</span><br><br>
  <span>Para poder registrar un inmueble, se necesita tener registrado una ciudad.</span><br>
  <span>Para poder registrar una ciudad, se necesita tener registrado un departamento.</span><br>
  <span>Para poder registrar un departamento, se necesita tener registrado un país.</span><br><br>
  <span>En la tabla de departamento, no se guarda el nombre ni el código del paise, se guarda el ID.</span><br>
  <span>En la tabla de ciudad, no se guarda el nombre ni el código del departamento, se guarda el ID.</span><br>
  <span>En la tabla de inmueble, no se guarda el nombre ni el código de la ciudad, se guarda el ID.</span><br>
  <span>Los ID's se guardar para hacer una referencia a las otras tablas (Llave foranea) para no tener informacion duplicada en la DB.</span><br>
</div>